.create-conference-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 20px 120px;
    row-gap: 30px;
}

.create-conference-container--parameters {
    grid-template-columns: repeat(2, auto);
}

.button-create-conference {
    width: 274px;
    display: block;
}

.button-add-member--margin {
    margin-bottom: 90px;
}
