* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Geometria", serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

$blueColor: #13377d;
$blackColor: #000000;
$darkGray: #58595b;
$disabledGrayColor: #dadada;
$lightGrayColor: #a3a3a3;
$white: #ffffff;
$red: #e22020;
$green: #36ce00;
$orange: #ff7a00;

.main-heading {
    font-weight: bold;
    font-size: 36px;
    color: $darkGray;
}

.input-style {
    width: 100%;
    max-width: 400px;
    max-height: 52px;
    background: #f7f9fe;
    border: 0.6px solid #c4c4c4;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    color: $darkGray;

    &::placeholder {
        font-family: "Geometria", serif;
        color: $darkGray;
    }

    &:focus {
        outline: none;
        border: 0.6px solid $blueColor;
    }
}

.h3-style {
    font-weight: 700;
    font-size: 18px;
    color: $blueColor;
}

.h2-style {
    font-weight: 700;
    font-size: 24px;
    color: $blueColor;
}

.blue-button-style {
    font-family: "Geometria", serif;
    background-color: $blueColor;
    text-align: center;
    border-radius: 100px;
    align-self: end;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: $white;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    white-space: nowrap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .index-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .index__form {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;
  }

  .index__button-enter {
      padding-left: 45px;
      padding-right: 45px;
      margin: 0 auto;
  }
