@import "general.scss";

.request-container {
    display: grid;
    grid-template-columns: 375px 1fr auto auto;
    grid-template-rows: 60px 155px;
    padding: 20px 120px;
    row-gap: 15px;
}

.request__profile-info {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 165px 160px;
    grid-template-rows: 54px auto;
}

.request__profile-photo {
    width: 134px;
    height: 134px;
}

.request__profile-surname {
    grid-area: 1/2/2/3;
    align-self: end;
    color: $blueColor;
}

.request__profile-name {
    grid-area: 2/2/3/3;
    align-self: start;
    color: $blueColor;
}

.request__select {
    grid-area: 2/3/3/4;
    align-self: end;
    margin-right: 15px;
}

.requests__add-request {
    font-family: "Geometria", serif;
    grid-area: 2/4/3/5;
    background-color: $blueColor;
    border-radius: 100px;
    align-self: end;
    padding: 10px 50px;
    border: none;
    color: $white;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.request-heading--margin {
    margin-bottom: 20px;
}

/*select*/

.request__select {
    display: grid;
    justify-content: end;
    position: relative;
}

.select__items {
    position: absolute;
    min-width: 400px;
    right: 0;
    top: 60px;
    z-index: 15;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.6px solid #c4c4c4;
    border-radius: 10px;
    background-color: $white;
    color: $darkGray;
}

.select--close {
    display: none;
}

.select--open {
    display: block;
}

.select__main-item {
    position: relative;
    min-width: 400px;
    border: 0.6px solid #c4c4c4;
    border-radius: 10px;
    padding: 16px 20px;
    background-color: $white;
    text-align: left;
    color: #58595b;

    &::after {
        content: "";
        position: absolute;
        background-image: url("../images/arrow.svg");
        background-repeat: no-repeat;
        width: 12px;
        height: 6px;
        top: 21px;
        right: 15px;
    }
}

.select__item {
    padding: 10px;
}

/*calendar*/

.requests--calendar-position {
    grid-row: 3;
}

/*tabs*/

.tabs {
    grid-area: 3/2/4/5;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    width: 100%;
    position: relative;
    align-self: start;
    justify-self: end;
}

.tabs-style {
    color: $darkGray;
    font-size: 18px;
    background-color: #f6f6f6;
    border: 0.6px solid #c4c4c4;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 20px 40px;
}

.tabs_requests {
    grid-area: 1/1/2/3;

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 8px;
        background-color: #ffffff;
        right: -2px;
        bottom: 0px;
    }
}

.tabs_events {
    grid-area: 1/2/2/4;

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 8px;
        background-color: #ffffff;
        left: -2px;
        bottom: 0px;
    }
}

.tabs--active {
    z-index: 10;
    background-color: $white;
    position: relative;
    color: #13377d;
    font-size: 18px;
}

ul.tabs-list--active {
    display: block;
}

.tabs__list {
    display: none;
    position: absolute;
    padding: 14px 9px;
    border-radius: 10px;
    border: 0.6px solid #c4c4c4;
    width: 100%;
    z-index: 0;
    background-color: white;
    top: -10px;
}

.tabs-events-list, .tabs-requests-list {
    grid-area: 2/1/3/-1;
}

.tabs__item {
    border-radius: 10px;
    background-color: #f7f9fe;
    border: 0.6px solid #c4c4c4;
    align-items: center;
}

.tabs__date {
    color: $darkGray;
}

.tabs__link {
    align-items: center;
}

.tabs__link, .tabs_events-link {
    display: grid;
    position: relative;
    grid-template-columns: 75px 1fr 175px;
    padding: 26px 30px;

    &::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        right: 10px;
        top: 10px;
        border-radius: 10px;
    }
}

.tabs-link--1 {
    &::after {
        background-color: $orange;
    }
}

.tabs-link--2 {
    &::after {
        background-color: $red;
    }
}

.tabs-link--3 {
    &::after {
        background-color: $green;
    }
}

.tabs__item:not(:last-child) {
    margin-bottom: 10px;
}

.tabs__item--number {
    font-size: 16px;
    line-height: 20px;
    color: #13377d;
}

/*time*/

.time {
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 323px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 17px 20px;

    span {
        font-size: 13px;
        line-height: 32px;
        letter-spacing: 0.05em;
    }
}

.time--disabled {
    color: $disabledGrayColor;
}

.time--event {
    position: relative;
    color: $blueColor;
    font-weight: bold;

    &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $green;
        left: 43px;
        bottom: 0;
        border-radius: 10px;
    }
}
