.request-provision-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 20px 120px;
}

.request-provision__checkbox-container {
    grid-area: 1/2/3/3;
    display: grid;
    align-self: center;
}

.request-provision__member-quantity {
    grid-area: 2/1/3/2;
}

.request-provision__table-container {
    position: relative;
    display: grid;
    padding: 20px 120px;
    gap: 10px 15px;
}

.request__form--width {
    width: 800px;
}

#request-provision-checkbox {
    grid-area: 1/1/2/2;
    align-self: center;
    justify-self: left;
    padding-left: 150px;
}

.heading__h2--request-provision {
    width: 210px;
    grid-area: 1/1/2/-1;
    position: relative;
    margin-bottom: 20px;
}