@import "variables.scss";

.warning__h1 {
    justify-self: center;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: $darkGray;
    margin-bottom: 44px;
}

.warning__text {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;

    span {
        font-weight: bold;
    }
}

.warning__text--bold {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.warning__button--agree {
    width: 100%;
    grid-area: 1/1/2/2;
}

.warning__button--disagree {
    width: 100%;
    grid-area: 1/2/2/3;
}