div.popup.popup--close#popupAddDistanceMember
    div.popup__content.add-member__content
        button.popup__button--close#add-distance-member__button--close

        h3.h3-style Добавить участника
        input(type="text", placeholder="ФИО").input-style
        div.input-style Организация
        input(type="text", placeholder="Email").input-style
       


        div.popup__buttons
            button.blue-button-style.add-member__button--disagree Отмена
            button.blue-button-style.add-member__button--agree Добавить