html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Event organization system"
    link(rel='stylesheet', href='./main.css', type='text/css')
    script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript")
    
  body
      include warning.pug
      include addMember.pug
      include addDistanceMember.pug
      include header.pug
      include breadcrumbs.pug
      section.event 
        div.container.event-container.event-container--options 
            h1.main-heading.event-heading--margin Создание мероприятия
                h3.h3-style.event__h3--initiator Инициатор
                input(type="text", placeholder="ФИО").input-style.event__input--name
                div.event__input--post 
                    div.input-style Должность
                    ul 
                        li 
                        li 
                        li 
                        li 
                h3.h3-style.event__h3--event Мероприятие
                input(type="text", placeholder="Название").input-style.event__input--event-name
                input(type="number", placeholder="Кол-во участников").input-style.event__input--quantity
            div.event--calendar-position
                include calendar.pug 
            h3.h3-style.event__h3.event__h3--duration Длительность и время мероприятия
            input(type="number", placeholder="Длительность / ч").input-style.event__input--duration
            input(type="number", placeholder="Время").input-style.event__input--time

        div.container.event-container 
                h2.h2-style.event__h2 Переговорные
                a(href="").event__meeting-room--link.event__meeting-room--link-1
                a(href="").event__meeting-room--link.event__meeting-room--link-1 
                a(href="").event__meeting-room--link.event__meeting-room--link-2

        div.container.event-container.event-container--provision
                h2.h2-style.event__h2 Обеспечение
                .provision__checkbox-container 
                
                    div.checkbox.checkbox--with-label.provision__checkbox
                        input(type="checkbox", name="provision")#checkbox-1.visually-hidden
                        label(for="checkbox-1") Вода
                    div.checkbox.checkbox--with-label.provision__checkbox
                        input(type="checkbox", name="provision")#checkbox-2.visually-hidden
                        label(for="checkbox-2") Канцелярские принадлежности
                    div.checkbox.checkbox--with-label.provision__checkbox
                        input(type="checkbox", name="provision")#checkbox-3.visually-hidden
                        label(for="checkbox-3") Пресса

                .provision__button-container 
                    address г. Москва, ул. Тверская,11
                    a(href="").blue-button-style.button-share Поделиться
                
                div#map

        div.container.event-container 
                h2.h2-style.event__h2.members__h2 Участники (Очно)
                
                div.members__table-container
                    table.members__table
                        thead 
                            tr 
                                td ФИО участника
                                td Организация
                                td Пропуск
                                td Парковка
                                td Таблица с ФИО
                        tbody 
                            tr
                                td Сидоров С. А.
                                td ЦИТО
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-4.visually-hidden
                                        label(for="checkbox-4").checkbox-label--without-label
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-5.visually-hidden
                                        label(for="checkbox-5").checkbox-label--without-label
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-6.visually-hidden
                                        label(for="checkbox-6").checkbox-label--without-label
                            tr
                                td Иванов И. И.
                                td СЮР
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-7.visually-hidden
                                        label(for="checkbox-7").checkbox-label--without-label
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-8.visually-hidden
                                        label(for="checkbox-8").checkbox-label--without-label
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-9.visually-hidden
                                        label(for="checkbox-9").checkbox-label--without-label
                            tr
                                td Доу Д. П.
                                td Амбрелла
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-10.visually-hidden
                                        label(for="checkbox-10").checkbox-label--without-label
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-11.visually-hidden
                                        label(for="checkbox-11").checkbox-label--without-label
                                td 
                                    div.checkbox.checkbox--without-label
                                        input(type="checkbox", name="agreements")#checkbox-12.visually-hidden
                                        label(for="checkbox-12").checkbox-label--without-label
                        
                button.blue-button-style.button-add-member#addMember Добавить участника
        
        div.container.event-container
                
                h2.h2-style.event__h2 ВКС
                div.checkbox.checkbox--without-label#parameters-checkbox
                                        input(type="checkbox", name="agreements")#checkbox-19.visually-hidden
                                        label(for="checkbox-19").checkbox-label--without-label
            
                div.parameters__inner-container.close-section
                    h2.h2-style.parameters__h2 Параметры конференции
                    div.parameters__checkbox-container
                        div.checkbox.checkbox--with-label.parameters__checkbox--1
                            input(type="checkbox", name="provision")#checkbox-13.visually-hidden
                            label(for="checkbox-13") Закрытая
                        div.checkbox.checkbox--with-label.parameters__checkbox--2
                            input(type="checkbox", name="provision")#checkbox-14.visually-hidden
                            label(for="checkbox-14") Видео-запись
                        div.checkbox.checkbox--with-label.parameters__checkbox--3
                            input(type="checkbox", name="provision")#checkbox-15.visually-hidden
                            label(for="checkbox-15") Аудио-запись
                        div.checkbox.checkbox--with-label.parameters__checkbox--4
                            input(type="checkbox", name="provision")#checkbox-16.visually-hidden
                            label(for="checkbox-16") Внешняя трансляция
                        div.checkbox.checkbox--with-label.parameters__checkbox--5
                            input(type="checkbox", name="provision")#checkbox-17.visually-hidden
                            label(for="checkbox-17") Открытая

                    div.parameters__info-container
                        input(type="number", placeholder="Количество докладчиков").input-style
                        div.input-style Удаленно
                            ul 
                                li 
                                li 
                                li 
                                li 
                        div.parameters__add-file
                            p Презентация:
                            form#upload-container(method="POST" action="").parameters__upload-container
                                div 
                                    input(type="file", name="file", multiple)#file-input
                                    label(for="file-input") Прикрепить файл

                                input(type="file", placeholder="" multiple="multiple")#add-file.input-style

                    div.distance-members-container
                        h2.distance-members__h2 Участники (удаленно)

                        div.members__table-container
                            table.members__table
                                thead 
                                    tr 
                                        td ФИО участника
                                        td Организация
                                        td E-mail участника
                                tbody 
                                    tr
                                        td Сидоров С. А.
                                        td ЦИТО
                                        td sidorov@gmail.ru
                                    tr
                                        td Иванов И. И.
                                        td СЮР
                                        td ivanov@gmail.ru
                                    tr
                                        td Доу Д. П.
                                        td Амбрелла
                                        td dou.dp@mail.ru
                        a(href="").blue-button-style.button-add-member#addDistanceMember Добавить участника

        div.container.event-container.event-container--polygraphy
                h2.h2-style.event__h2 Полиграфия / раздаточный материал
                div.checkbox.checkbox--without-label#polygraphy-checkbox
                                        input(type="checkbox", name="agreements")#checkbox-20.visually-hidden
                                        label(for="checkbox-20").checkbox-label--without-label
                div.polygraphy__inner-container.close-section
                    div.input-style Формат
                        ul 
                            li 
                            li 
                            li 
                            li 
                    div.input-style Плотность бумаги
                        ul 
                            li 
                            li 
                            li 
                            li
                        
                    div.checkbox.checkbox--with-label.checkbox--polygraphy
                            input(type="checkbox", name="provision")#checkbox-18.visually-hidden
                            label(for="checkbox-18") Цветная печать
                    input(type="number", placeholder="Количество копий").input-style.input__polygraphy--copies
                    form#upload-container(method="POST" action="").polygraphy__upload-container
                                div 
                                    input(type="file", name="file", multiple)#file-input
                                    label(for="file-input") Загрузить файл

                                input(type="file", placeholder="" multiple="multiple")#add-file.input-style

        div.container.event-container.event-container--add-event
            a(href="").blue-button-style.event__button--add-event Cоздать мероприятие

script(src='./warning.js')
script(src='./map.js')
script(src='./checkbox-sections.js')
script(src='./addMember.js')
script(src='./addDistanceMember.js')