html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Event organization system"
    link(rel='stylesheet', href='./main.css', type='text/css')
    
  body
      include header.pug
      include breadcrumbs.pug
      section.event 
        div.container.event-container.event-container--options 
            h1.main-heading.event-heading--margin Создание мероприятия
                h3.h3-style.event__h3.event__h3--initiator Инициатор
                input(type="text", placeholder="ФИО").input-style.event__input--name
                div.event__input--post 
                    div.input-style Должность
                    ul 
                        li 
                        li 
                        li 
                        li 
                h3.h3-style.event__h3.event__h3--event Мероприятие
                input(type="text", placeholder="Название").input-style.event__input--event-name
                input(type="number", placeholder="Кол-во участников").input-style.event__input--quantity
            div.event--calendar-position
                include calendar.pug 
            h3.h3-style.event__h3.event__h3--duration Длительность и время мероприятия
            input(type="number", placeholder="Длительность / ч").input-style.event__input--duration
            input(type="number", placeholder="Время").input-style.event__input--time

        div.container.event-container 
                h2.h2-style.event__h2 Переговорные
                a(href="").event__meeting-room--link.event__meeting-room--link-1
                a(href="").event__meeting-room--link.event__meeting-room--link-1 
                a(href="").event__meeting-room--link.event__meeting-room--link-2

        div.container.event-container 
                h2.h2-style.event__h2 Обеспечение
                .provision__checkbox-container 
                    

                    div.checkbox.provision__checkbox
                        input(type="checkbox", name="agreements")#checkbox-1.visually-hidden
                        label(for="checkbox-1") Вода
                    div.checkbox.provision__checkbox
                        input(type="checkbox", name="agreements")#checkbox-2.visually-hidden
                        label(for="checkbox-2") Канцелярские принадлежности
                    div.checkbox.provision__checkbox
                        input(type="checkbox", name="agreements")#checkbox-3.visually-hidden
                        label(for="checkbox-3") Пресса

                .provision__button-container 
                    adress г. Москва, ул. Тверская,11
                    a(href="").blue-button-style.button-share Поделиться
                
                div#map

        div.container.event-container 
                h2.h2-style.event__h2 Участники  (Очно)
                
                div.members__table-container
                    table.members__table
                        thead 
                            tr 
                                td ФИО участника
                                td Организация
                                td Пропуск
                                td Парковка
                                td Таблиска с ФИО
                        tbody 
                            tr
                                td Сидоров С. А.
                                td ЦИТО
                                td sidorov@gmail.ru
                                td 
                                td 
                            tr
                                td Иванов И. И.
                                td СЮР
                                td ivanov@gmail.ru
                                td 
                                td 
                            tr
                                td Доу Д. П.
                                td Амбрелла
                                td dou.dp@mail.ru
                                td 
                                td 
                        
                a(href="").blue-button-style.button-add-member Добавить участника
        
        div.container.event-container 
                h2.h2-style.event__h2 ВКС
                h2.h2-style.event__h2 Параметры конференции
    
script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript")
                

    
                
                

