div.calendar
    button.calendar__button-month.calendar__button-month--prev
    button.calendar__button-month.calendar__button-month--next
    div.calendar__month Август 
        span 2021 

    .calendar__week-days 
        span ПН
        span ВТ
        span СР
        span ЧТ
        span ПТ
        span СБ
        span ВС
    div.calendar__days.calendar__days--first
        span.calendar__last-day 16
        span.calendar__last-day 17
        span.calendar__last-day 18
        span.calendar__last-day 19
        span.calendar__today 20
        span.calendar__day-off 21
        span.calendar__day-off 22
        span 23
        span 24
        span.calendar__event 25
        span 26
        span 27
        span.calendar__day-off 28
        span.calendar__day-off 29
        span.calendar__event 30
        span 31
    div.calendar__month.calendar__month--second Сентябрь
    div.calendar__days.calendar__days--second 
        span 1
        span.calendar__event 2
        span 3
        span 4
        span 5
        span.calendar__day-off 6
        span.calendar__day-off 7
        span 8
        span 9
        span 10
        span 11
        span 12