header.header
    .container.header-container
        a(href="index.html") 
            img(src="./images/logo.svg", alt="Министерство науки и высшего образования Российской Федерации")
        a(href="index.html").header__profile 
            p.header__profile-name Иванов Иван Иванович
            img(src="./images/avatar.png", alt="avatar").header__profile

    