header.header
    .container.header-container
        img(src="./images/logo.svg", alt="Министерство науки и высшего образования Российской Федерации")
        div.header__profile 
            p.header__profile-name Иванов Иван Иванович
            img(src="./images/avatar.png", alt="avatar").header__profile

    