html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Event organization system"
    link(rel='stylesheet', href='./main.css', type='text/css')

  body

    div.container.index-container
      form(action="").index__form 
        input(type="text", placeholder="Логин").input-style
        input(type="text", placeholder="Пароль").input-style
        a(href="/myRequests.html").blue-button-style.index__button-enter Войти


        a(href="/myRequests.html") Заявки
        a(href="/myTasks.html") Мои задачи
        a(href="/addEvent.html") Создание мероприятия
     

    
    

