html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Event organization system"
    link(rel='stylesheet', href='./main.css', type='text/css')

  body
      include header.pug
      include breadcrumbs.pug
      section.requests 
        .container.request-container 
            h1.main-heading.request-heading--margin Мои заявки
            
            div.request__profile-info
                img(src="./images/avatar.png", alt="photo").request__profile-photo
                p.request__profile-surname Иванов 
                p.request__profile-name Иван Иванович
            div.request__select 
                .select__main-item Заявка в пропускное бюро
                ul.select__items.select--close
                    li.select__item Заявка в типографию
                    li.select__item Заявка в пропускное бюро
                    li.select__item Заявка на ВКС

                    
            button.requests__add-request Создать
            
            div.calendar
                div.calendar__month Август 
                    span 2021 

                .calendar__week-days 
                    p ПН
                    p ВТ
                    p СР
                    p ЧТ
                    p ПТ
                    p СБ
                    p ВС
                div.calendar__days.calendar__days--first
                    p.calendar__last-day 16
                    p.calendar__last-day 17
                    p.calendar__last-day 18
                    p.calendar__last-day 19
                    p.calendar__today 20
                    p.calendar__day-off 21
                    p.calendar__day-off 22
                    p 23
                    p 24
                    p.event 25
                    p 26
                    p 27
                    p.calendar__day-off 28
                    p.calendar__day-off 29
                    p 30
                    p 31
                div.calendar__month.calendar__month--second Сентябрь
                div.calendar__days.calendar__days--second 
                    p 1
                    p 2
                    p 3
                    p 4
                    p 5
                    p.calendar__day-off 6
                    p.calendar__day-off 7
                    p 8
                    p 9
                    p 10
                    p 11
                    p 12


            div.time
                p.time--disabled 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p.time--disabled 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                p.time--disabled 09.00-09.30
                p 09.00-09.30
                p.time--event 09.00-09.30
                p.time--event 09.00-09.30
                p 09.00-09.30
                p.time--disabled 09.00-09.30
                p.time--disabled 09.00-09.30
                p 09.00-09.30
                p 09.00-09.30
                

            div.tabs
                .tabs_requests.tabs-style.tabs--active Заявки
                .tabs_events.tabs-style Мероприятия

                ul.tabs__list.tabs-requests-list.tabs-list--active
                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Заявка №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00
                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Заявка №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00

                    li.tabs_requests-item.tabs-list--close
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Заявка №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00

                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Заявка №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00

                ul.tabs__list.tabs-events-list.tabs-list--close
                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Мероприятие №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00
                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Мероприятие №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00

                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Мероприятие №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00

                    li.tabs_requests-item
                        img(src="./images/require-icon.svg", alt="")
                        p.tabs_requests-item--number Мероприятие №1
                        div 
                            span 25 / 08 / 2021 
                            span 13:00
               


                
                script(src='./app.js')