html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Event organization system"
    link(rel='stylesheet', href='./main.css', type='text/css')

  body
      include header.pug
      include breadcrumbs.pug
      section.requests 
        .container.request-container 
            h1.main-heading.request-heading--margin Мои заявки
            
            div.request__profile-info
                img(src="./images/avatar.png", alt="photo").request__profile-photo
                p.request__profile-surname Иванов 
                p.request__profile-name Иван Иванович
            div.request__select 
                .select__main-item 
                ul.select__items.select--close
                    li.select__item Заявка в типографию
                    li.select__item Заявка в пропускное бюро
                    li.select__item Заявка на ВКС
   
            button.requests__add-request Создать
            
            div.requests--calendar-position
                include calendar.pug

            div.time
                span.time--disabled 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span.time--disabled 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                span.time--disabled 09.00-09.30
                span 09.00-09.30
                span.time--event 09.00-09.30
                span.time--event 09.00-09.30
                span 09.00-09.30
                span.time--disabled 09.00-09.30
                span.time--disabled 09.00-09.30
                span 09.00-09.30
                span 09.00-09.30
                

            div.tabs
                .tabs_requests.tabs-style.tabs--active Заявки
                .tabs_events.tabs-style Мероприятия

                ul.tabs__list.tabs-requests-list.tabs-list--active
                    li.tabs__item
                        a(href="").tabs__link.tabs-link--1
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Заявка №1
                            div.tabs__date
                                span 25 / 08 / 2021 
                                span 13:00
                    li.tabs__item
                        a(href="").tabs__link.tabs-link--2 
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Заявка №1
                            div.tabs__date
                                span 25 / 08 / 2021 
                                span 13:00

                    li.tabs__item
                        a(href="").tabs__link.tabs-link--3
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Заявка №1
                            div.tabs__date
                                span 25 / 08 / 2021 
                                span 13:00

                    li.tabs__item
                        a(href="").tabs__link.tabs-link--1
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Заявка №1
                            div.tabs__date 
                                span 25 / 08 / 2021 
                                span 13:00

                ul.tabs__list.tabs-events-list
                    li.tabs__item
                        a(href="").tabs__link.tabs-link--1
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Мероприятие №1
                            div.tabs__date 
                                span 25 / 08 / 2021 
                                span 13:00
                    li.tabs__item
                        a(href="").tabs__link.tabs-link--2
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Мероприятие №1
                            div.tabs__date 
                                span 25 / 08 / 2021 
                                span 13:00

                    li.tabs__item
                        a(href="").tabs__link.tabs-link--3
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Мероприятие №1
                            div.tabs__date 
                                span 25 / 08 / 2021 
                                span 13:00

                    li.tabs__item
                        a(href="").tabs__link.tabs-link--1
                            img(src="./images/require-icon.svg", alt="")
                            p.tabs__item--number Мероприятие №1
                            div.tabs__date 
                                span 25 / 08 / 2021 
                                span 13:00
               


                
                script(src='./app.js')